.ads-date-time_picker-label {
  box-sizing: border-box;
  padding: 6px 10px;
  border-radius: 25px 0 0 25px;
}
.ads-date-time_picker__input {
  padding: 4px 5px 4px 5px;
  border-radius: 0 25px 25px 0;
  border: none;
  box-sizing: border-box;
  outline: 0;
}

.ads-date-time_picker__input:focus {
  outline: none;
}
